#header--work {
  font-size: 17px;
  line-height: 30px
}

.works--div {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px
}

.works {
  border-radius: 0.375rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.works:hover {
  --tw-scale-x: 0.92;
  --tw-scale-y: 0.92;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-brightness: brightness(0.35);
  --tw-brightness: brightness(0.4);
  --tw-contrast: contrast(0.91);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.works--logo {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9rem;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#third-section {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  opacity: 1
}